body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}
#tituloDiv{
  margin-top: 50px;
}
#tituloJOGO{
  color: #45a049;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.trilha {
  display: grid;
  color: rgb(0, 0, 0);
  grid-template-columns: repeat(5, 90px);
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 30px;

  
}
.casaVazia{
  background-color: #000000;
  color: #ffffff;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 0px;
}
.casinha {
  width: 80px;
  height: 80px;
  background-color: #80c3de;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 0px;
  transition: transform 0.3s, background-color 0.3s;
}
.casinha:hover {
  transform: scale(1.1);
  background-color: #80c3ded8;
}
.casinhaPergunta{
  width: 80px;
  height: 80px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 0px;
  transition: transform 0.3s, background-color 0.3s;

}
.casinhaPergunta:hover {
  transform: scale(1.1);
  background-color: #4caf4fb1;
}

.casinhaSimulacao{
  width: 80px;
  height: 80px;
  background-color: #6c61a1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 0px;
  
  transition: transform 0.3s, background-color 0.3s;
}
.casinhaSimulacao:hover {
  transform: scale(1.1);
  background-color: #6c61a1bc;
}
.carta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.carta h2 {
  margin: 0;
  font-size: 18px;
}

.carta p {
  font-size: 14px;
}

.carta button {
  padding: 10px;
  background-color: #0072BB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.carta button:hover {
  background-color: #005A93;
}

.carta .fechar {
  background-color: #666;
}

.carta .fechar:hover {
  background-color: #444;
}

.resultado {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.resultado.sucesso {
  color: green;
}

.resultado.erro {
  color: red;
}
