@charset "UTF-8";

@media screen and (min-width: 768px){


  #tituloJOGO{
    font-size: 100px;
  } 
  .trilha{
    grid-template-columns: repeat(5, 230px);
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .casa{
    width: 200px;
    height: 200px;
    font-size: 35px;
    margin: 10px;
  }
  .casinhaPergunta{
    font-size: 100px;
  }

  .carta h2 {
    font-size: 30px;
  }
  
  .carta p {
    font-size: 20px;
  }
  
  .carta button {
    padding: 10px;
    background-color: #395b70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .carta button:hover {
    background-color: #005A93;
  }
  
  .carta .fechar {
    background-color: #000000;
    position: absolute;
    bottom: 10px; /* Distância do fundo da carta */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */

  }
  .fechar bottom{
    background-attachment: fixed;
    margin: 0px;
    position: relative;
    bottom: 0px;
  }
  .carta .fechar:hover {
    background-color: #444;
  }
  
  .resultado {
    font-size: 15px;
    margin: 20px;
  
  }
  .fotointegrante {
    width: 100px; /* Define largura fixa para a imagem */
    height:100px; /* Mantém a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 10px;
  }

  
  



}
