@charset "UTF-8";

@media screen and (min-width: 768px){


  #tituloJOGO{
    font-size: 100px;
    width: 1100px;
  } 
  .trilha{
    grid-template-columns: repeat(5, 270px);
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .casa{
    width: 260px;
    height: 250px;
    font-size: 40px;
    margin: 0.5px;
  }
  .casinhaPergunta{
    font-size: 150px;
  }
  .carta{
    width: 90%;
    height: 90%;
    text-align: center;    
  }
  .carta h2 {
    font-size: 60px;
    text-align: center;
    margin: 20px;
  }
  
  #conteudo {
    font-size: 40px;
    width: 90%;
    margin: 0px auto 20px;
    text-align: center;
  
  }
  
  .carta button {
    width: 700px;
    font-size: 60px;
   
    
  }
  #video-area video{
    width: 60%;
    margin: 0px auto;
    font-size: 50px;
  }
  
  .carta .fechar {
    position: absolute;
    bottom: 10px; 
    transform: translateX(-50%); 
    width: 600px;
    font-size: 30px;
  

  }

  .carta .fechar:hover {
    background-color: #444;
  }
  
  .resultado {
    font-size: 15px;
    margin: 20px;
  
  }
  .fotointegrante {
    width: 100px; /* Define largura fixa para a imagem */
    height:100px; /* Mantém a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 10px;
  }

  
  



}
